html, body {
  margin:0;padding:0;height:100%;
  font-family: 'Manrope', sans-serif;
  /* font-family: 'Playfair Display', serif; */
}
sup {
  font-size: 2vh;
  position: relative;
  top: -0.7vh;
  right: -0.3vh;
}
sub {
  font-size: 2vh;
  position: relative;
  bottom: -0.7vh;
  left: -0.3vh;
}
#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#calculator {
  height: 70vh;
  width: 42vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1.3fr repeat(6, 1fr);
  /* border: 1px black solid; */
  border-radius: 12px;
  box-shadow: 12px 3px 38px 9px #23b8ea96;
  
  grid-template-areas:
    'display display display display'
    'exponent factorial delete clear'
    'reciprocal root percent plus-minus'
    'one two three divide'
    'four five six multiply'
    'seven eight nine subtract'
    'zero decimal equals add';
}
.button {
  border: 1px #dedede3d solid;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 4vh;
  cursor: pointer;

  /* vendor prefixes for user-select */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
  
}
.button:hover {
  color: #00f0fd;
}
.button:active {
  text-decoration: none;
  transition: all .1s ease;
  color: #040208;
}
.special {
  background-color: darkmagenta
}
.special:active {
  box-shadow: inset 0px 0px 16px 7px rgba(214, 156, 16, 0.68);
  background-color: #ca1313;
  text-decoration: none;
  transition: all .1s ease;
  color: #040208;
}
.operator {
  background-color: rgb(12, 104, 73);
}
.operator:active {
  background-color: rgb(12, 104, 73);
  box-shadow: inset 0px 0px 16px 5px rgba(8, 216, 75, 0.61);
  background-color: #38c3ecd6;
}
.number {
  background-color: rgb(10, 91, 212);
}
.number:active {
  box-shadow: inset 0px 0px 16px 5px rgba(129, 8, 216, 0.32);
  background-color: #8073efdb;
}
#display {
  grid-area: display;
  font-size: 44px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background-image: url(dust_scratches.png);
  /* background-size: 100vw 100vh; */
  background-repeat: no-repeat;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-right: 5px;
  padding-left: 5px;
}
#exponent {
  grid-area: exponent;
}
#factorial {
  grid-area: factorial;
}
#delete {
  grid-area: delete;
}
#clear {
  grid-area: clear;
}
.zero {
  border-bottom-left-radius: 11px;
}
.add{
  border-bottom-right-radius: 11px;
}
